*, *::after, *::before {
    box-sizing: border-box;
    font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}

:root {
    --hue-normal : 200;
    --hue-wrong : 0;
    --hue-correct: 145;
}

body {
    --hue : var(--hue-normal);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 20%);
    font: 2em sans-serif;
}

body.correct {
    --hue : var(--hue-correct);
}

body.wrong {
    --hue : var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: azure;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px blueviolet;
}


#question {
  padding: auto;
  text-align: center;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-normal);
  border: 2px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font: 1.5rem sans-serif;
  }
  
  .btn:hover {
    border-color: black;
    transform: scaleY(1.1);
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
  
  .title {
  text-size-adjust: 100%;
  font-size: 3rem;
  color:rgb(255, 230, 0);
  text-align: center;
  font-weight: 700;
  position: absolute;
  top:10vh;
  }